body {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
}

div {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  border: none;
  outline: none;
  padding: 20px;
  border-radius: 20px;
  background-color: wheat;
  box-shadow: 5px 5px 0 rgb(237 132 132), 0 0 10px rgb(207 97 97 / 80%);
  cursor: pointer;
}

.btn:active {
  outline: none;
  position: relative;
  top: 10px;
  left: 2px;
  box-shadow: none;
}
